/* .data-nama {
    font-family: 'Times New Roman', Times, serif;
} */

/* .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
} */

/* .card-non {
    font-family: 'Times New Roman', Times, serif;
} */
